#current {
    display: flex;
};

.pr-2{
    padding-right: ($spacer * 1.5) !important;
}

.d-flex{
    display:(flex) !important;
}

#green {
    background-color: "green";
    color: "white";
}

#yellow {
    background-color: "yellow";
    color: "white";
}

#red {
    background-color: "red";
    color: "white";
}